0.cpp
0
inputf.in
outputf.in

git add .
git commit -m "solve"
git push -u origin main


1. I am the best at logical thinking.
2. I can do whatever I want when I put my mind to it.
3. I am the most positive minded person the world has ever seen.
4. I love to take challenges and solve the most difficult problems 
   out there.
5. I will 100% fucking land a job at FAANG.
6. My success is inevitable my the Grace of Allah.